{% extends "boilerplate.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_page.css') }}" />
{% endblock %}

{% block above_main_content %}
{% endblock %}

{% block main_content %}
<form method="POST" action="" accept-charset="UTF-8" role="form" enctype="multipart/form-data" > 
<div class="mb-1">
    {% if modify == True %}
    <h3 class="text-white me-auto">Modify Game</h3>
    <a href="{{ url_for('game_page', game_id=game_id) }}" class="btn btn-outline-warning mb-4"> Back to Game Page</a>
    {% else %}
    <h3 class="text-white me-auto">Add Game</h3>
    {% endif %}
    
    <button type="submit" name="submit" class="btn btn-outline-success mb-4">Submit</button>
</div>
{{ form.csrf_token }}
	{% include 'other/flashes.html' %}
	{% include 'other/form_errors.html' %}
<div class="justify-content-center d-flex trailer_container">
    
</div>

<!-- ========= DESCRIPTION SECTION ======== -->

    
<div class="container-fluid d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column section_1 section_all">
    
    <div class="d-flex-row">
        <p>Main Image</p>
        {{ form.image_main(class="form-control", id="formFile", placeholder="main image") }}
        <p>Image Banner</p>
        {{ form.image_banner(class="form-control", id="formFile", placeholder="main image") }}
    </div>
    <div class="d-flex flex-column game_desc_container">
        <p>Game Title</p>
        {{ form.title(class="input_fields", placeholder="Title") }}
        <p>Game Description</p>
        {{ form.description(id='game_desc', class="overflow-auto", placeholder="Description", rows=20) }}

    </div>
    <div class="game_price d-flex flex-column">
        <div >
            <p>Price</p>
            {{ form.price(class="text-lg-center text-md-center text-sm-center", placeholder="Price") }}
        </div>
        <div >
            <p>Discount</p>
            {{ form.discount(class="text-lg-center text-md-center text-sm-center", placeholder="Percentage Discount") }}
        </div>
        <div >
            <label class= "text-white"for="expirable">Discount Expirable?</label>
            {{ form.discount_expirable(id="expirable", class="text-lg-center text-md-center text-sm-center", placeholder="Percentage Discount") }}
        </div>
        <div >
            <p>Discount Start</p>
            {{ form.discount_start_date(class="text-lg-center text-md-center text-sm-center", placeholder="Y-m-d H:M:S") }}
        </div>
        <div >
            <p>Discount End</p>
            {{ form.discount_end_date(class="text-lg-center text-md-center text-sm-center", placeholder="Y-m-d H:M:S") }}
        </div>
    </div>
</div>

<!-- ========= ABOUT SECTION ======== -->

<div class="container-fluid section_all section_2 d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header">
        <p>About</p>
    </div>
    <div class="section_container">
       <div class="row">
            <div class="col">
                <p id="detail_header">Developer</p>
                {{ form.developer(class="detail_info", placeholder="Developer Name") }}
                
            </div>
            <div class="col">
                <p id="detail_header">Publisher</p>
                {{ form.publisher(class="detail_info", placeholder="Publisher Name") }}
            </div>
            <div class="col">
                <p id="detail_header">Status</p>
                {{ form.status(class="detail_info", placeholder="Status") }}
            </div>
       </div>
       <div class="row">
            <div class="col">
                <p id="detail_header">Tags</p>
                {{ form.tags(class="d-flex flex-wrap tag-group text-default") }}
            </div>
       </div>
       <div class="row d-flex flex-row features">
           <p id="detail_header">Features</p>
           {{ form.features(placeholder="Features") }}
       </div>
       <div class="row d-flex flex-row">
           <p id="detail_header">Other Details</p>
           {{ form.other_details(id="detail_info", placeholder="Features") }}
       </div>
    </div>
</div>

<!-- ========= SYSTEM REQUIREMENTS SECTION ======== -->

<div class="section_3 section_all d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header">
        <p>System Requirements</p>
    </div>
    <div class="section_container">
        <ul class="nav nav-tabs">
            <li class="nav-item " role="presentation">
                <button class="nav-link active" id="windows-tab" data-bs-toggle="tab" data-bs-target="#Windows" type="button" role="tab" aria-controls="Windows" aria-selected="false">Windows</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="linux-tab" data-bs-toggle="tab" data-bs-target="#Linux" type="button" role="tab" aria-controls="Linux" aria-selected="false">Linux</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="macos-tab" data-bs-toggle="tab" data-bs-target="#MacOS" type="button" role="tab" aria-controls="MacOS" aria-selected="false">MacOS</button>
            </li>
        </ul>
        <div class="tab-content" id="requirements-content">
            <div class="tab-pane fade show active" id="Windows" role="tabpanel" aria-labelledby="windows-tab">
                <label class="text-white" for="windows_available">Available for windows?</label>
                {{ form.win_available(id="windows_available", placeholder="Is available?") }}
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column me-5">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.win_min_os(id="detail_info", placeholder="Minimum OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.win_min_processor(id="detail_info", placeholder="Minimum Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.win_min_memory(id="detail_info", placeholder="Minimum Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.win_min_storage(id="detail_info", placeholder="Minimum Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.win_min_graphics(id="detail_info", placeholder="Minimum Graphics") }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.win_max_os(id="detail_info", placeholder="Recommended OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.win_max_processor(id="detail_info", placeholder="Recommended Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.win_max_memory(id="detail_info", placeholder="Recommended Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.win_max_storage(id="detail_info", placeholder="Recommended Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.win_max_graphics(id="detail_info", placeholder="Recommended Graphics") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="Linux" role="tabpanel" aria-labelledby="linux-tab">
                <label class="text-white" for="linux_available">Available for Linux?</label>
                {{ form.linux_available(id="linux_available", placeholder="Is available?") }}
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column me-5">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.linux_min_os(id="detail_info", placeholder="Minimum OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.linux_min_processor(id="detail_info", placeholder="Minimum Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.linux_min_memory(id="detail_info", placeholder="Minimum Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.linux_min_storage(id="detail_info", placeholder="Minimum Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.linux_min_graphics(id="detail_info", placeholder="Minimum Graphics") }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.linux_max_os(id="detail_info", placeholder="Recommended OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.linux_max_processor(id="detail_info", placeholder="Recommended Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.linux_max_memory(id="detail_info", placeholder="Recommended Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.linux_max_storage(id="detail_info", placeholder="Recommended Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.linux_max_graphics(id="detail_info", placeholder="Recommended Graphics") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="MacOS" role="tabpanel" aria-labelledby="macos-tab">
                <label class="text-white" for="mac_available">Available for Mac?</label>
                {{ form.mac_available(id="mac_available", placeholder="Is available?") }}
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column me-5">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.mac_min_os(id="detail_info", placeholder="Minimum OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.mac_min_processor(id="detail_info", placeholder="Minimum Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.mac_min_memory(id="detail_info", placeholder="Minimum Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.mac_min_storage(id="detail_info", placeholder="Minimum Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.mac_min_graphics(id="detail_info", placeholder="Minimum Graphics") }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ form.mac_max_os(id="detail_info", placeholder="Recommended OS") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ form.mac_max_processor(id="detail_info", placeholder="Recommended Processor") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ form.mac_max_memory(id="detail_info", placeholder="Recommended Memory") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ form.mac_max_storage(id="detail_info", placeholder="Recommended Storage") }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ form.mac_max_graphics(id="detail_info", placeholder="Recommended Graphics") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p id="detail_header">Languages Supported</p>
                {{ form.languages(id="detail_info", placeholder="Supported Languages") }}
            </div>
        </div>
        
    </div>
</div>
</form>
{% endblock %}

