{% extends "boilerplate.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_page.css') }}" />
{% endblock %}

{% block above_main_content %}
    <div class="game_top_nav text-white">
        <p>Browse > New Release > {{ game.title }}</p>
    </div>
{% endblock %}

{% block main_content %}
<div class="justify-content-center d-flex trailer_container">
    <img src="{{ url_for('game_media', game_id=game.id, filename=game.image_banner) }}" alt="">
</div>

<!-- ========= DESCRIPTION SECTION ======== -->

<div class="container-fluid d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column section_1 section_all">
    <div class="d-flex justify-content-center text-lg-center text-md-center">
        <img src="{{ url_for('game_media', game_id=game.id, filename=game.image_main) }}" alt="">
    </div>
    <div id="descprice" class="d-flex flex-lg-row flex-md-column">
        <div class="d-flex flex-column game_desc_container">
            <p id="game_title">{{ game.title }}</p>
            <p class="overflow-auto" id="game_desc">{{ game.description }}</p>
        </div>
        <div class="game_price d-flex flex-column">
            <div class="d-flex">
                <button class="btn btn-block mx-auto">
                    Buy Now
                    <i class="bi bi-plus text-end"></i>
                </button>
            </div>
            <div class = "discount_container">
                <div class=" game-price-container" >
                    {% if game.discount > 0 %}
                    <div class="discount_tag">
                        <p>20%</p>
                    </div>
                    <p class="text-lg-center text-md-center text-sm-center discount-strike ">P {{ game.price }}</p>
                    <p class="text-lg-center text-md-center text-sm-center discount-new-price">P {{ game.get_discount_price() }}</p>
                    
                    {% else %}
                    <p class="text-lg-center text-md-center text-sm-center "> P {{ game.price }}</p>
                    {% endif %}

                </div>
                {% if game.discount_expirable %}
                    <div class="countdown">
                        <p class="p-0 m-0">Discount ends in</p>
                        <div id="countdown-data-container" class="row">
                            <div class="col text-center">
                                <p id="countdown-hour">4</p>
                            </div>
                            <div class="col text-center">
                                <p id="countdown-minute">4</p>
                            </div>
                            <div class="col text-center">
                                <p id="countdown-second">4</p>
                            </div>
                        </div>
                        <div class=" p-0 row">
                            <div class="col text-center">
                                <p>Hours</p>
                            </div>
                            <div class="col text-center">
                                <p>Minutes</p>
                            </div>
                            <div class="col text-center">
                                <p>Seconds</p>
                            </div>
                        </div>
                        
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- ========= ABOUT SECTION ======== -->

<div class="container-fluid section_all section_2 d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header">
        <p>About</p>
    </div>
    <div class="section_container">
       <div class="row">
            <div class="col">
                <p id="detail_header">Developer</p>
                <p id="detail_info"> {{ game.developer }}</p>
            </div>
            <div class="col">
                <p id="detail_header">Publisher</p>
                <p id="detail_info"> {{ game.publisher }}</p>
            </div>
            <div class="col">
                <p id="detail_header">Status</p>
                <p id="detail_info"> {{ game.status }}</p>
            </div>
       </div>
       <div class="row">
            <div class="col">
                <p id="detail_header">Tags</p>
                <p id="detail_info"> Genres</p>
            </div>
            <div class="col">
                <p id="detail_header">Rating</p>
                <p id="detail_info"> 9.6</p>
            </div>
            <div class="col">
                <p id="detail_header">Platforms</p>
                <p id="detail_info"> 
                    {% for i in game.platforms.all() %}
                        {{ i.name }}
                        {% if i != game.platforms.all()[-1] %}
                            , 
                        {% endif %}
                    {% endfor %}

                </p>
            </div>
       </div>
       <div class="row d-flex flex-row features">
           <p id="detail_header">Features</p>
           <p id="detail_info">
           {{ game.features }}
            </p>
       </div>
       <div class="row d-flex flex-row">
           <p id="detail_header">Other Details</p>
           <p id="detail_info">
                {{ game.other_details }}
            </p>
       </div>
    </div>
</div>

<!-- ========= SYSTEM REQUIREMENTS SECTION ======== -->

<div class="section_3 section_all d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header">
        <p>System Requirements</p>
    </div>
    <div class="section_container">
        <ul class="nav nav-tabs">
            {% if win_platform.available %}
                <li class="nav-item " role="presentation">
                    <button class="nav-link active" id="windows-tab" data-bs-toggle="tab" data-bs-target="#Windows" type="button" role="tab" aria-controls="Xbox" aria-selected="true">Windows</button>
                </li>
            {% endif %}
            {% if linux_platform.available %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="linux-tab" data-bs-toggle="tab" data-bs-target="#Linux" type="button" role="tab" aria-controls="Linux" aria-selected="false">Linux</button>
            </li>
            {% endif %}
            {% if mac_platform.available %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="macos-tab" data-bs-toggle="tab" data-bs-target="#MacOS" type="button" role="tab" aria-controls="MacOS" aria-selected="false">MacOS</button>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="requirements-content">
            <div class="tab-pane fade show active" id="Windows" role="tabpanel" aria-labelledby="windows-tab">
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ win_platform.min_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ win_platform.min_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ win_platform.min_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ win_platform.min_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ win_platform.min_graphics }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ win_platform.max_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ win_platform.max_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ win_platform.max_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ win_platform.max_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ win_platform.max_graphics }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="Linux" role="tabpanel" aria-labelledby="linux-tab">
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ linux_platform.min_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ linux_platform.min_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ linux_platform.min_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ linux_platform.min_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ linux_platform.min_graphics }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ linux_platform.max_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ linux_platform.max_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ linux_platform.max_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ linux_platform.max_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ linux_platform.max_graphics }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="MacOS" role="tabpanel" aria-labelledby="macos-tab">
                <div class="d-flex">
                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Minimum
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ mac_platform.min_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ mac_platform.min_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ mac_platform.min_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ mac_platform.min_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ mac_platform.min_graphics }}</p>
                        </div>
                    </div>

                    <div class="requirement_section d-flex flex-column">
                        <div>
                            <p id="detail_header">
                                Recommended
                            </p>
                        </div>
                        <div>
                            <p id="detail_header">OS</p>
                            <p id="detail_info"> {{ mac_platform.max_os }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Processor</p>
                            <p id="detail_info"> {{ mac_platform.max_processor }} </p>
                        </div>
                        <div>
                            <p id="detail_header">Memory</p>
                            <p id="detail_info"> {{ mac_platform.max_memory }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Storage</p>
                            <p id="detail_info"> {{ mac_platform.max_storage }}</p>
                        </div>
                        <div>
                            <p id="detail_header">Graphics</p>
                            <p id="detail_info"> {{ mac_platform.max_graphics }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p id="detail_header">Languages Supported</p>
                <p id="detail_info">
                    {{ game.languages }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ========= REVIEW SECTION ======== -->
<div class="section_4 section_all d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header d-flex">
        <p>Reviews</p>
        {% if has_game %}
            <a class="btn btn-success ms-auto me-5 text-light" href="#">Add A Review</a>
        {% endif %}
    </div>
    <div class="section_container">
        <div class="d-flex flex-column">
            {% if reviews|length == 0 %}
                <p>It looks like theres no reviews yet :(</p>
            {% endif %}
            {% for review in reviews %}
            <hr>
            <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column review_card">
                <div class="d-flex flex-lg-column flex-md-row review_user">
                    <img src="static/img/default_profile_picture.jpg" alt="">
                    <div class="d-flex flex-column ms-md-2 ms-lg-0">
                        <p class="review_user_username">{{ review.user.username }}</p>
                        <p class="review_user_other">{{ review.user.owned_games.all()|length }}</p>
                        <p class="review_user_other">{{ review.user.reviews.all()|length }}</p>
                    </div>
                </div>
                <div class="d-flex flex-column review_review">
                    <!-- Review Stars and Title -->
                    <div class="d-flex flex-row">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <p class="review_title">{{ review.review_title }}</p>
                    </div>
                    <div>
                        <p>{{ review.date_published}} </p>
                    </div>
                    <div>
                        <p>{{ review.review_text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- ========= NEWS AND UPDATES SECTION ======== -->
<div class="section_all d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column">
    <div class="game_page_section_header">
        <p>News and Updates</p>
    </div>
    <div class="section_container">
        <div class="d-flex flex-row overflow-auto">
            <!-- Update Cards -->
            <div class="d-flex flex-column update_card">
                <img src="" alt="">
                <p class="update_title" >Update Title</p>
                <p class="update_time">Time of Update</p>
            </div>

            <!-- Update Cards -->
            <div class="d-flex flex-column update_card">
                <img src="" alt="">
                <p class="update_title" >Update Title</p>
                <p class="update_time">Time of Update</p>
            </div>

            <!-- Update Cards -->
            <div class="d-flex flex-column update_card">
                <img src="" alt="">
                <p class="update_title" >Update Title</p>
                <p class="update_time">Time of Update</p>
            </div>

        </div>
    </div>
</div>

<!-- ========= SUGGESTION SECTION ======== -->
<div class="section_all section_6 flex-column">
    <div class="game_page_section_header">
        <p>You May Also Like This</p>
    </div>
    <div class="section_container">
        <div class="d-flex flex-row more_game_container overflow-auto">
            <div class="d-flex flex-column more_game_card">
                <img src="" alt="">
                <p class="more_game_title"> Game Title</p>
                <div class="d-flex flex-row more_game_price">

                    <p class="striked_price align-center">Price</p>
                    <p class="price">New Price</p>

                    <div class="discount_tag">
                        <p>20%</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column more_game_card">
                <img src="" alt="">
                <p class="more_game_title"> Game Title</p>
                <div class="d-flex flex-row more_game_price">

                    <p class="striked_price align-center">Price</p>
                    <p class="price">New Price</p>

                    <div class="discount_tag">
                        <p>20%</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column more_game_card">
                <img src="" alt="">
                <p class="more_game_title"> Game Title</p>
                <div class="d-flex flex-row more_game_price">

                    <p class="striked_price align-center">Price</p>
                    <p class="price">New Price</p>

                    <div class="discount_tag">
                        <p>20%</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column more_game_card">
                <img src="" alt="">
                <p class="more_game_title"> Game Title</p>
                <div class="d-flex flex-row more_game_price">

                    <p class="striked_price align-center">Price</p>
                    <p class="price">New Price</p>

                    <div class="discount_tag">
                        <p>20%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='js/countdown.js') }}"></script>
<script type="text/javascript">
initializeClock({{ game.discount_end_date|tojson }});
</script>
{% endblock %}
