{% extends "boilerplate.html" %}

{% block head %}
    <link rel="stylesheet" href="static/css/signup.css" />
{% endblock %}

{% block above_main_content %}
{% endblock %}

{% block main_content %}
<div class="mx-auto container signin_container">
	<form method="POST" action="{{ url_for('create_account_page') }}" accept-charset="UTF-8" role="form">
		{{ form.csrf_token }}
	
	
		<p id="signin_header" class="mx-auto text-center" >Sign Up</p>
		{% with errors = get_flashed_messages(category_filter=["error"]) %}
	    	{% if errors %}
			<div>
				{% for error in errors %}
					<p class="error_flash">
						{{ error }}
					</p><br>
				{% endfor %}
			</div>
			{% endif %}
	    {% endwith %}

	    {% if form.errors %}
			<div>
				{% for field, error in form.errors.items() %}
					<p class="error_flash">
					{% for e in error %}
						
							{{ error[0] }}
						
					{% endfor %}
					</p>
				{% endfor %}
			</div>
	    {% endif %}
		<div class="d-flex input_container">
			<i class="bi bi-person"></i>
			{{ form.username(class="input_fields", placeholder="Username") }}
		</div>
		<div class="d-flex input_container">
			<i class="bi bi-envelope"></i>
			{{ form.email(class="input_fields", placeholder="Email") }}
		</div>
		<div class="d-flex input_container">
			<i class="bi bi-lock"></i>
			{{ form.password(class="input_fields", placeholder="Password") }}
		</div>
		<div class="d-flex input_container">
			<i class="bi bi-lock"></i>
			{{ form.confirm_password(class="input_fields", placeholder="Confirm Password") }}
		</div>
		<div class="d-grid gap-2">
			<button type="submit" name="submit" class="btn btn-outline-primary">Sign Up</button>
		</div>
	</form>
	<a href="{{ url_for('login_page') }}">
		<p>Already have an account? Sign In Here!</p>
	</a>
	
</div>

{% endblock %}

