{% extends "boilerplate.html" %}

{% block head %}
    <link rel="stylesheet" href="static/css/support_page.css" />
{% endblock %}

{% block above_main_content %}
{% endblock %}

{% block main_content %}

<div id="row1" class="d-flex flex-column">
	<p class="mx-auto support_title">Je Games Support Center</p>
	<input class="mx-lg-auto mx-md-0 mx-sm-0 support_search form-control w-50" placeholder="Search Support Articles"/>
</div>
<div id="row2">
	<div class="d-flex justify-content-evenly">
		<div class="d-flex flex-column support_card">
			<img class="mx-auto" src="static/img/support_page/account_store.svg" alt="test">
			<p class="mx-auto support_category">Order and Payments</p>
			<p class="mx-auto support_desc">
				Are you having problem with your purchases?
			</p>
		</div>
		<div class="d-flex flex-column support_card">
			<img class="mx-auto" src="static/img/support_page/account_store.svg" alt="test">
			<p class="mx-auto support_category">Account and Store</p>
			<p class="mx-auto support_desc">
				Are you having trouble accessing your account or store itself?
			</p>
		</div>
	</div>
	<div class="d-flex justify-content-evenly">
		<div class="d-flex flex-column support_card">
			<img class="mx-auto" src="static/img/support_page/game_issues.svg" alt="test">
			<p class="mx-auto support_category">Game Issues</p>
			<p class="mx-auto support_desc">
				Is a game you already bought and downloaded not working properly?
			</p>
		</div>
		<div class="d-flex flex-column support_card">
			<img class="mx-auto" src="static/img/support_page/download.svg" alt="test">
			<p class="mx-auto support_category">Download & Installing</p>
			<p class="mx-auto support_desc">
				Did something go wrong when downloading or installing your game?
			</p>
		</div>
		<div class="d-flex flex-column support_card">
			<img class="mx-auto" src="static/img/support_page/policies.svg" alt="test">
			<p class="mx-auto support_category">Policies & General Info</p>
			<p class="mx-auto support_desc">
				Here you can read our policies, or learn more about our service.
			</p>
		</div>
	</div>

</div>
<div id="row3">
	<div class="d-flex">
		<p class="mx-auto support_title">Popular Support Topics</p>
	</div>
	<div class="support_topics">
		<div class="d-flex justify-content-between">
			<div><p>How do I buy a game?</p></div>
			<div><p>How do I buy a gift?</p></div>
			<div><p>I'm unable to download the game. What can I do?</p></div>
		</div>
		<div class="d-flex justify-content-between">
			<div><p>How do I redeem a code?</p></div>
			<div><p>I tried to make a payment and it didn't work. What can I do now?</p></div>
			<div><p>I got charged and did not get my game</p></div>
		</div>
		<div class="d-flex justify-content-between">
			<div><p>How do I download my purchased games?</p></div>
			<div><p>I cannot log in. What can I do?</p></div>
			<div><p>How do I reset my password?</p></div>
		</div>
	</div>
</div>

{% endblock %}
