

.main_content{
    padding-left: 13.8em;
	padding-right: 13.8em;
	padding-top: 1.625rem;
    padding-bottom: 8.75em;
}

.game_top_nav {
    margin-left: 10.1875rem;
    margin-top: 1.8125rem;
}

.game_top_nav p{
    font-size: 1rem;
    font-family: 'Poppins';
    color: #E1F7FF
}


.main_content p{
    color: #E1F7FF
}

.filter_options {
    font-size: 0.875rem;
}

.filter_container{
    background-color: var(--main-background-color);
    width: 14.937em;
    margin-right: 3.8125em;
}

.filter_container > p {
    margin-bottom: 1.375em;
    font-family: var(--Poppins-Regular);
}

.accordion-item {
    background-color: var(--main-background-color);
    border-width: 0px;
}

.accordion-button, .accordion-button:hover {
    font-size: 0.9rem;
    font-family: 'Poppins';
    padding: 0px;
    background-color: var(--main-background-color);
    color: #E1F7FF;
}

.accordion-item p{
    color: #E1F7FF;
}

.accordion label{
    font-family: 'Poppins-Light';
    color: var(--text-color);
    font-size: 0.875em;
}

.accordion-body{
    padding-left: 0px;
    padding-bottom: 8px;
}

.accordion-button:not(.collapsed){
    background-color: var(--main-background-color);
    color: var(--text-color);
    outline: 0px;
}
.game_container {
    width: 77.5em;
    
}

.game_container>div:not(:last-child){
    margin-right:0.741rem;
}

.more_game_card {
    margin-bottom: 1em;
    background-color: var(--panel-color);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.more_game_card img{
    height: 15.375em;
    width: 14.125em;
}

.more_game_price *{
    margin-right: 0.5625rem;
}


.more_game_title{
    font-size: 0.95em;
    font-family: 'Poppins';
    margin-top: 0.7rem;
    margin-bottom: 0;
}


.discount_tag {
    width: max-content;
    height: max-content;
    background: #4C6B22 0% 0% no-repeat padding-box;
    border: 0.0625em solid #707070;

}

.discount_tag p{
    color: #A4D015;
    font-size: 0.875em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
}

.striked_price {
    color: #D1CECE;
    text-decoration: line-through;
    font-family: 'Poppins';
    font-size:0.5625em;
}

.price {
    color:#E1F7FF;
    font-family: 'Poppins';
    font-size:0.85em;
}

hr {
    color: ivory;
}

.custom_paginator {
    display: inline-block;
    margin-top: 5.1875em
}

.custom_paginator a {
    color: var(--text-color);
    font-family: var(--Poppins-Regular);
    font-size: 1.125em;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.custom_paginator a.active {
    border-bottom: 1px solid var(--text-color);
    color: white;
}

.custom_paginator a:hover:not(.active) {
    border-bottom: 1px solid #ddd;
}
