
.game_top_nav {
    margin-left: 10.1875rem;
    margin-top: 1.8125rem;
}

.game_top_nav p{
    font-size: 1rem;
    font-family: 'Poppins';
}




.trailer_container img{
    width:92.5rem;
    min-width: 37.5rem;
    height: 29.9375rem;
    margin-bottom: 4rem;
    background-color:black;
    object-fit: cover;
}

.section_all p{
    font-family: var(--Poppins-Regular);
    color: var(--text-color)
}

.section_all {
    margin-bottom: 4.4375em !important;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 92.5em !important;
}

.section_all .game_page_section_header{
    width: 27.5rem;
}

.section_all .game_page_section_header>p{
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-align: left;
}


.section_1{
    max-width: 1492.5rem;
    background-color: var(--panel-color);
    border-radius: 5px;
    padding-bottom: 0px;
    padding: 16px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.section_1>div:not(:last-child){
    margin-right: 1.75em
}

.section_1 .game_information{
    max-width: 46.9375rem;
    text-align:left;
}

.game_desc_container> #game_title{
    font-size: 1.5rem;
    font-family: 'Poppins-Medium';
}

#descprice{
    display:flex;
    width: 100%;
    
}

.game_desc_container{
    max-height: 19.5rem;
    min-width: 12.5rem;
    flex-grow: 1;
}

#game_desc{
    font-size: 1rem;
    font-family: 'Poppins';
    overflow:auto;
}

.section_1>div{
    margin-bottom: 0.625rem;
}


.section_1 .game_price button{
    width: 14.4375em;
    height: 3.25rem;
    color: #E1F7FF;
}

.section_1 .game_price button .btn-block{
    background-color: #9AC100;
}

.section_1 img {
    height: 19.5625rem;
    width: 25.125rem;
    object-fit: cover;
}


.section_2 {
    max-width: 92.5rem;
}

.section_2>.section_container>div{
    margin-bottom: 1.5625rem;
}

.section_2 .features>p{
    margin-bottom: 0.625rem;
}

.nav-tabs button{
    background-color: #3b3b58;
    color: #AEBABE;
}
.nav-tabs button.active{
    background-color: #3b3b58;
    border-width: 0px;
    color: #AEBABE;
}

.image_container {
    border: 0.0625em solid #707070;
}

.section_4 .game_page_section_header{
    align-items: start;
}

.section_container {
    max-width: 62.5rem;
    width: 62.5rem;
}

.section_container p{
    font-size: 0.875rem;
    font-family: 'Poppins';
}

.section_container #detail_header{
    color:#AEBABE;
    margin-bottom: 0.625rem;
}

.section_container #detail_info{
    margin-bottom: 0px;
    font-family: 'Poppins-Light';
}

.section_container>.row{
    margin-bottom: 0.9375rem;
}


.requirement_container>div{
    margin-bottom: 1.5625rem;
}



.requirement_section {
    width: 21em;
}

.requirement_section p:not(:last-child){
    margin-bottom: 0.625rem;
}

.requirement_section div{
    margin-bottom: 1.5625em !important;
}

.section_6 {
    margin-bottom: 0px !important;
    padding-bottom: 4.4375rem;
}

.section_6>.section_container{
    max-width: 100% !important;
}

.review_user {
    width: 12.3125rem;
}

.review_user img {
    width: 4.3125rem;
    height: 4.3125rem;
}

.review_user *{
    margin-bottom: 0px !important;
}

.review_review {
    max-width: 52.75rem;
}

.review_review i{
    width: 1.5625rem;
    color:yellow;
}

.review_user_username {
    font-family: 'Poppins';
    font-size: 1rem;
}

.review_user_other {
    font-family: 'Poppins-Light';
    font-size: 0.875rem;
}

.review_title {
    font-size: 1.225rem;
    font-family: 'Poppins-Medium';
}

.update_card{
    width:20.6875rem;
    height:17.75rem;
    margin-right: 1.4375rem;
}

.update_card img{
    width: 20.6875rem;
    height: 13.6875rem;
    margin-bottom: 0.6875rem;
}

.update_card .update_title{
    font-family: 'Poppins-Medium';
    font-size: 1.125rem;
    margin-bottom: 0.5625rem;
}

.update_card .update_time{
    font-size: 0.875rem;
}

hr {
    color: gray;
}

.more_game_card img{
    height: 30.8125rem;
    width: 22.3125rem;
    object-fit: cover;
}

.tag-group li{
    display: inline;
    margin-right: 10px
}

.more_game_price *{
    margin-right: 0.5625rem;
    
}

.more_game_price>p{
    padding-top: 0.3125rem;
}

.more_game_title{
    font-size: 1.225rem !important;
    font-family: 'Poppins';
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}



.striked_price {
    color: #D1CECE;
    text-decoration: line-through;
    font-size:1rem;
}

.price {
    color:#E1F7FF;
    font-size:1rem;
}

.more_game_container>div:not(:last-child){
    margin-right:1.125rem;
}

.more_game_container {
    width: 100%;
}
