/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.header,
section {
	overflow-x: hidden;
}

:root {
	--Poppins: 'Poppins', san-serif;
	--Color1: #0c2d48;
	--Color2: #1b262c;
	--Color3: #2b363b;
	--Color4: #4c6b22;
	--Color5: #ffda1e;
	--textColor: #e1f7ff;
}


.header_box {
	height: 2.75em;
	width: 0.5em;
	margin-right: 0.625em;
	background-color: #477F92;

}


/* carousel */

.carousel-bottom-nav {
	position: absolute;
	padding-left: 8%;
	padding-right: 8%;
	height: 10vh;
	z-index: 2;
	background: #0c2d4866 0% 0% no-repeat padding-box;
	box-shadow: 0px 15px 30px #00000029;
	opacity: 1;
	backdrop-filter: blur(5px);
	margin-top: -10vh;
	-webkit-backdrop-filter: blur(5px);
	padding-top: 3vh;
}

.carousel-bottom-nav a {
	height: 3.3125em;
	width: 11.5625em;
	opacity: 1;
	font-size: 1.7em;
	color: var(--textColor);
	margin: 5vw;
	text-align: left;
}

.carousel-item img{
	height: 85vh;
	object-fit: cover;
}

/* main */

.main {
	font-family: var(--Poppins);
	color: var(--textColor);
	background: var(--Color2);
}


.section_header p {
	font-size: 1.75em;
	font-family: "Poppins-Medium";
}

.section_header{
	margin-bottom: 1.5em;
}

.col-md-8 {
	font-size: 1.2rem;
}

.games .media {
	margin-top: 1vh;
	height: 113px;
}

.games .media-body {
	font-size: 1vh;
}

/* section 1 */
.section-1 .container {
	background-color: var(--panel-color);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding-left: 24px;
	padding-bottom: 20px;
	width: 463px;
}

.section-1 {
	margin-top: 3.290625em;
}

/* section 2 */

.section-2 {
	margin-top: 3.290625em;
}

.featured-game-highlight {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: var(--panel-color);
}

.featured-game-highlight img {
	height: 28.6875em;
	width: 23.3125em;
	
}

.featured-game-details {
	text-align: center;
}

.featured-game-details h5 {
	font-size: 2.375em;
	margin-bottom: 100px;
	margin-top: 60px;
	color: var(--Color5);
}

.featured-game-star {
	color: var(--Color5);
}

.featured-game-title {
	margin-top: 5em;
	font-size: 1.5em
}

.featured-game-price {
	font-size: 1em;
}

.more_game_card {
	
}

.more_game_card img {
	height: 30.8125rem;
	width: 21.5rem;
	object-fit: cover;
}

.more_game_price * {
	margin-right: 0.5625rem;
}

.more_game_price > p {
	padding-top: 0.3125rem;
}

.more_game_title {
	font-size: 1.125rem;
	font-family: 'Poppins';
	margin-top: 1.75rem;
	margin-bottom: 0.4rem;
}


.more_game_container > div:not(:last-child) {
	margin-right: 1.125rem;
}

.more_game_container {
	width: 100%;
}

.buy_button{
    width: 14em;
    height: 2.875em;
    color: #E1F7FF;
    background-color: #9AC100;
}

/* Section 3*/
.section-3 {
	margin-top: 3.290625em;
}

/* Section 4*/
.section-4{
	margin-top: 3.290625em;
	padding-bottom: 16em
}



/* small top games */
.col-md-6 .button {
	width: 9.8125em;
	height: 2.625em;
	border-radius: 5px;
	background-color: var(--Color3);
	color: var(--textColor);
	border: none;
	margin-left: 30.375em;
	margin-bottom: 0.875em;
}
.small_top_game {
	border-radius: 5px;
	width: 39.8125em;
	height: 6.5em;
	display: flex;
	align-items: center;
}

.small_top_game .rating{
	color: var(--Color5);
	position: absolute;
	margin-left: 0;
	padding-left: 1.6875em;
	padding-top:10px;
	padding-bottom:10px;
	width:120px;
	background: linear-gradient(to right, rgba(4,4,4,0.5) 24%,rgba(0,0,0,0) 100%);
}

.small_top_game .rating h4 {
	color: var(--text-color);
	margin-left: 140px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.small_top_game .small_top_game_img {
	width: 39.8125em;
	height: 6.5em;
	border-radius: 5px;
	object-fit: cover;
}

.small_top_game_container .small_top_game:not(:last-child) {
	margin-bottom: 1.875em;
}

.game-card img{
	width: 86px;
	height: 112px;
	margin-right: 18px;
}

.game-card {
	margin-bottom: 7px;
}

.game-card p{
	font-family: "Poppins";
	font-size: 18px;
}

.game-card span{
	font-family: "Poppins";
	font-size: 16px;
	
}