@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

body {
    font-size: 16px;
    background-color: var(--main-background-color);
	
}

@media (max-width: 640px) {
    .main_content {
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}

.main_content{
    padding-left: 11.8%;
	padding-right: 11.8%;
	padding-top: 1.625rem;
	background-color: var(--main-background-color);
}


:root {
	--primary-color: #0c2d484d;
	--nav-color: #0a1a25;
	--text-color: #e1f7ff;
	--green-color: #A4D015;
	--panel-color : #2B363B;
	--panel-light-color : #3d494e;
	--main-background-color: #1b262c;
	--max-width: 1100px;
	--Poppins-Regular: 'Poppins';
}

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: 'Poppins';
	background-color: var(--main-background-color);
}

a {
	text-decoration: none;
	color: inherit;
}

/* --------------Style for footer------------------*/
#main-footer {
	background: var(--primary-color);
	color: var(--text-color);
}

#main-footer img {
	width: 150px;
}

#main-footer a {
	color: var(--text-color);
}

#main-footer .footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
	background: var(--primary-color);
	grid-column: 1 / span 4;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
	width: 90%;
	padding: 0.75rem;
	margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
	width: 90%;
}

.footer {
	background-color: #2d3753;
	height: 96px;
	padding-left: 217px;
	padding-right: 217px;
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer a {
	font-size: 18px;
	margin-right: 12px;
	color: #e1f7ff;
}

.footer i {
	font-size: 22px;
	margin-right: 16px;
	color: #e1f7ff;
}

.error_flash {
	color: red;
	font-size: 1em;
	font-family: 'Poppins' !important;
}

.flash_success{
	color: var(--text-color) !important;
	font-family: 'Poppins-Light' !important;
	font-size: 0.8em;
}

.flash_error{
	color: red !important;
	font-family: 'Poppins' !important;
	font-size: 1em;
}

.discount-strike {
	color: #AEBABE !important;
	font-size: 1em !important;
	text-decoration: line-through !important;
	font-family: 'Poppins-Light' !important;
}

.discount-new-price {
	color: var(--text-color);
	font-family: 'Poppins';
	font-size: 1em;
}

.game-price-container {
    margin-top: 6px;
}

.game-price-container p{
    display: inline;
    vertical-align:middle
}

.panel {
	background-color: var(--panel-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.discount_tag {
    display: inline-block;
    width: 3.8125rem;
    height: 1.95rem;
    background: #4C6B22 0% 0% no-repeat padding-box;
    border: 0.0625em solid #707070;
    height: fit-content;
    padding: 0px;
}

.discount_tag p{
    color: #A4D015 !important; 
    font-size: 1.2rem !important; 
    padding-bottom: 0.0625rem;
    padding-left: 0.4875rem;
    padding-right: 0.4875rem;
}

a:hover > div.game-card{
	background-color: #21292c
}

a:link, a:active, a:hover {
	color: var(--text-color)
}


#countdown-data-container p{
	font-size: 1.4em;
	margin-bottom: 0;
}

.discount_container {
	margin-top: 5px;
	background-color: #232c30;
	border-radius: 5px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	padding: 2px;
}

.text-default {
	color: var(--text-color);
}

.bg-bgreen {
	background-color: var(--green-color) !important;
}

.no-outline {
	outline: 0;
	border: 0;
}

.default-shadow {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}