.main_content{
    padding-left: 220px;
	padding-right: 222px;
	padding-top: 26px;
	background-color: #3b3b58;
}

.main_content>div{
    margin-bottom: 38px;
}

.main_content p{
    color: white
}

.trailer_container video{
    width:1385px;
    height: 479px;
    margin-bottom: 64px;
}


.game_details{
    
    height: 312px;
}

.game_details>div{
    margin-right: 28px
}

.game_information #game_title{
    font-size: 22px;
    font-family: 'Poppins-Medium';
}

.game_information #game_desc{
    font-size: 16px;
    font-family: 'Poppins';
}

.game_information>div{
    margin-bottom: 10px;
}

.game_price p{
    font-size:20px;
    text-align: right;
}

.game_price button{
    width: 231px;
    height: 52px;
}

#game_poster {
    height: 313px;
    width: 402px;
}

#game_poster img{
    width:100%;
    height: 100%
}

.game_section {
    max-width: 1480px;
    height: 434px;
    margin-bottom: 70px !important;
}

.game_page_section_header p{
    font-size: 24px;
    text-align: left;
}

.game_section .game_page_section_header{
    width: 440px;
}

.game_details .game_information{
    max-width: 751px;
    text-align:left;
}


.about_detail_container {
    width: 1078px;
    height:376px;
}

.about_detail_container p{
    font-size: 14px;
    margin-bottom: 10px;
}

.about_detail_container #detail_header{
    color:#646464;
}

.about_detail_container .row{
    margin-bottom: 25px;
}

.requirement_section {
    width: 477px;
}