/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body {
} */

header,
section {
	overflow-x: hidden;
}

:root {
	--Poppins: 'Poppins', san-serif;
	--Color1: #0c2d48;
	--Color2: #1b262c;
	--Color3: #2b363b;
	--Color4: #4c6b22;
}
/* Navigation */

header a {
	font-family: var(--Poppins);
	font-size: 0.9em;
	color: #e1f7ff;
}

header {
	background: var(--Color1);
}

.navbar-brand {
	margin-left: 11vw;
}

.form-control {
	background: #3d445a 0% 0% no-repeat padding-box;
	border-radius: 8px;
	opacity: 1;
	margin-left: 25vw;
	margin-right: 25vw;
}

.nav {
	margin-left: 11vw;
}

/* end of nav */

/* carousel */
.carousel-item img {
	height: 80%;
}
.carousel-bottom-nav {
	height: 10vh;
	background: #0c2d4866 0% 0% no-repeat padding-box;
	box-shadow: 0px 15px 30px #00000029;
	opacity: 1;
	backdrop-filter: blur(5px);
	margin-top: -10vh;
	-webkit-backdrop-filter: blur(5px);
	padding-top: 3vh;
}

.carousel-bottom-nav a {
	text-align: center;
	opacity: 1;
	font-size: 1.7em;
	color: #e1f7ff;
	margin: 6vw;
}

/* main */

main {
	font-family: var(--Poppins);
	margin-left: 8vw;
	margin-right: 8vw;
	/* background: var(--Color2); */
}

.section_header p {
	font-size: 1.5rem;
	font-weight: bold;
}

.col-md-8 {
	font-size: 1.2rem;
}

.games .media {
	margin-top: 1vh;
}

.games .media-body {
	font-size: 1vh;
}
