@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html * {
	font-family: 'Poppins';
}

html {
	background-color: #0c2d48;
}

body {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

.button{
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.carousel_image {
	height: 850px;
	object-fit: cover;
}

.carousel_bottom {
	color: #e1f7ff;
}

#logo {
	width:50px;
	height: 50px;
	margin-right: 20px;
}

.top_bar {
	z-index: 100;
	padding-left: 125px;
	padding-right: 125px;
	padding-top : 38px;
	background-color: #2c3652;
	backdrop-filter: blur(25px);
}

.top_bar .inputs {
	width:696px;
	height: 50px
}

.bottom_bar {
	padding-bottom: 5px;
}

.bottom_bar h5 {
	font-size: 18px;
	margin-right: 56px;
}

.top_bar * {
	color: #e1f7ff;
}

.main_container {
	padding-left: 155px;
	padding-right: 155px;
	padding-top: 104px;
	background-color: #0c2d48;
}

.section_header p {
	color: #e1f7ff;
	font-size: 38px;
	font-family: 'Poppins-Medium';
}

.section_header #header_box {
	width: 11px;
	height: 53px;
	margin-right: 20px;
	background-color: #b1d4e0;
}

.card {
	width: 317px;
	height: 380px;
    padding: 0px;
    margin-left: 10px;
    border: 1px;
}

.card-img-top{
    width: 317px;
	height: 380px;
    border: 1px;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	text-align: center;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.card_container:hover .overlay{
	opacity: 1;
}

.card:hover .card-img-overlay{
    display: none;
    transition: 0.5s ease;
}

.card-img-overlay {
	top: 80%;
    color: #000000;
    display: block;
}

.game_title {
	font-family: 'Poppins', sans-serif;
}

.overlay_link{
    margin-top: 100px;
}

.buy_now{
    margin-right: 10px;
}

.add_to_cart{
    margin-left: 10px;
}
    

